<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.CrimedataMapper">

    <resultMap id="BaseResultMap" type="com.system.pojo.Crimedata">
            <id property="drNo" column="DR_NO" jdbcType="INTEGER"/>
            <result property="daterptd" column="DateRptd" jdbcType="VARCHAR"/>
            <result property="dateocc" column="DATEOCC" jdbcType="VARCHAR"/>
            <result property="timeocc" column="TIMEOCC" jdbcType="INTEGER"/>
            <result property="area" column="AREA" jdbcType="INTEGER"/>
            <result property="areaname" column="AREANAME" jdbcType="VARCHAR"/>
            <result property="rptdistno" column="RptDistNo" jdbcType="INTEGER"/>
            <result property="part12" column="Part1-2" jdbcType="INTEGER"/>
            <result property="crmcd" column="CrmCd" jdbcType="INTEGER"/>
            <result property="crmcddesc" column="CrmCdDesc" jdbcType="VARCHAR"/>
            <result property="mocodes" column="Mocodes" jdbcType="VARCHAR"/>
            <result property="victage" column="VictAge" jdbcType="INTEGER"/>
            <result property="victsex" column="VictSex" jdbcType="VARCHAR"/>
            <result property="victdescent" column="VictDescent" jdbcType="VARCHAR"/>
            <result property="premiscd" column="PremisCd" jdbcType="INTEGER"/>
            <result property="premisdesc" column="PremisDesc" jdbcType="VARCHAR"/>
            <result property="weaponusedcd" column="WeaponUsedCd" jdbcType="INTEGER"/>
            <result property="weapondesc" column="WeaponDesc" jdbcType="VARCHAR"/>
            <result property="status" column="Status" jdbcType="VARCHAR"/>
            <result property="statusdesc" column="StatusDesc" jdbcType="VARCHAR"/>
            <result property="crmcd1" column="CrmCd1" jdbcType="INTEGER"/>
            <result property="crmcd2" column="CrmCd2" jdbcType="INTEGER"/>
            <result property="crmcd3" column="CrmCd3" jdbcType="INTEGER"/>
            <result property="crmcd4" column="CrmCd4" jdbcType="VARCHAR"/>
            <result property="location" column="LOCATION" jdbcType="VARCHAR"/>
            <result property="crossstreet" column="CrossStreet" jdbcType="VARCHAR"/>
            <result property="lat" column="LAT" jdbcType="DOUBLE"/>
            <result property="lon" column="LON" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        DR_NO,DateRptd,DATEOCC,
        TIMEOCC,AREA,AREANAME,
        RptDistNo,Part1-2,CrmCd,
        CrmCdDesc,Mocodes,VictAge,
        VictSex,VictDescent,PremisCd,
        PremisDesc,WeaponUsedCd,WeaponDesc,
        Status,StatusDesc,CrmCd1,
        CrmCd2,CrmCd3,CrmCd4,
        LOCATION,CrossStreet,LAT,
        LON
    </sql>
</mapper>
